body{
  
}
.App{
  display:flex;
  justify-content: center;
  width:450px;
  position: absolute;
  top:30%; 
  left:50%;
  transform: translateX(-50%);
  border: 5px solid black;
  padding: 20px;
  background-color: rgb(150, 185, 228);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.381);
}

.profilimg img {
  width:180px;
  margin-right:20px;
}

.name p, .adress p {
  font-size: 20px;
}
.name p span, .adress p span{
  font-weight: 600;
}